html {
    background: url('https://images.pexels.com/photos/5485124/pexels-photo-5485124.jpeg');
    /* Full screen */
    min-height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    align-items: center;
}

.container {
    text-align: center;
}

.puzzle-pieces {
    display: grid;
    grid-template-columns: repeat(5, 120px); /* 5 images per row */
    grid-gap: 5px; /* Optional: spacing between images */
    /* gap: 15px; */
    margin-bottom: 20px;
    justify-content: center;
}

.piece {
    width: 120px;
    height: 120px;
    /* object-fit: cover; */
}

.puzzle-grid {
    display: grid;
    grid-template-columns: repeat(5, 120px);
    grid-template-rows: repeat(3, 120px);
    gap: 0;
    justify-content: center;
}

.drop-zone {
    width: 120px;
    height: 120px;
    border: 2px dashed #ccc;
}

.notification {
    display: none;
    color: red;
    margin-top: 10px;
}

#resetButton, #submitButton {
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
    padding: 5px 10px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;    
}
  
#resetButton:hover, #submitButton:hover {opacity: 1}

.success-message {
    display: none;
    text-align: center;
    margin-top: 20px;
}

.success-message img {
    width: 500px;
    height: auto;
}


.form-container {
    width: 480px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display:none;
}

form {
    display: flex;
    flex-direction: column;
}

textarea, input[type] { font-size: 14px; font-family: Verdana; }


.footer {
    text-align: center;
    font-style: italic; 
    padding:20px 0;
}